wp-content/themes/html5blank2/.DS_Store
wp-content/themes/html5blank2/node_modules
wp-content/themes/html5blank2/src/bower_components
wp-content/themes/html5blank2/src/css/maps
wp-content/themes/html5blank2/.idea
